{% set distro_name = "RHEL-10.0-20241214.0" %}
{% set buildroot_name = "BUILDROOT-10.0-RHEL-10-20241214.0" %}
{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="RedHatEnterpriseLinux10"/>
  <distro_name op="=" value="{{ distro_name }}"/>
{% endset %}
{% set ks_append | unindent %}
  <ks_append><![CDATA[
  %post
  # Enable RHEL-10 Buildroot for test dependencies
  # not always the compose and buildroot compose have same date tag
  cat >/etc/yum.repos.d/BUILDROOT-10.repo <<EOF
  [BUILDROOT-10]
  name=BUILDROOT-10
  baseurl=http://download-node-02.eng.bos.redhat.com/rhel-10/composes/BUILDROOT-10/{{ buildroot_name  }}/compose/Buildroot/{{ ARCH }}/os/
  enabled=1
  gpgcheck=0
  EOF
  %end
  ]]></ks_append>
{% endset %}
{% set host_requires %}
  {% if ARCH == "aarch64" %}
    {# NOTE:(bgoncalv) it can trigger panic on rhel-10 (https://issues.redhat.com/browse/RHEL-70393) #}
    <not>
      <hostname op="like" value="nvidia-jetson-agx-orin%"/>
    </not>
  {% endif %}
  {% if ARCH == "ppc64le" %}
    {# NOTE:(bgoncalv) exclude Power9 baremetal machines as they are not supported #}
    <not>
      {% include "host_types/power9_baremetal.host_requires.xml.j2" %}
    </not>
  {% endif %}
{% endset %}
{% set kernel_options_post = "rd.emergency=reboot kunit.enable=1" %}
{# add efi=runtime otherwise reboot using kernel-rt will fail on machines with UEFI #}
{% if "rt" in COMPONENTS %}
  {% set kernel_options_post = kernel_options_post + " efi=runtime" %}
{% endif %}
