{% import "trees/rhel7.j2" as rhel7 %}
{% set distro_requires %}
  <distro_family op="=" value="RedHatEnterpriseLinux7"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="RHEL-7.7"/>
{% endset %}
{% macro repo_url(suffix) -%}
  https://rhsm-pulp.corp.redhat.com/content/eus/rhel/{{ rhel7.flavor(ARCH) }}/7/7.7/{{ ARCH }}/{{ suffix }}
{%- endmacro %}
{% set repos %}
    <repo name="pulp_0" url="{{ repo_url("os") }}"/>
    <repo name="pulp_1" url="{{ repo_url("optional/os") }}"/>
    <repo name="pulp_2" url="{{ repo_url("debug") }}"/>
{% endset %}
